APP_NAME=LexInsight Backend
APP_VERSION=0.1.0
APP_DEBUG=false
POSTGRES_USER=lexinsight
POSTGRES_PASSWORD=change-me
POSTGRES_DB=lexinsight
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

ES_URL=http://localhost:9200
ES_REQUEST_TIMEOUT_S=10
